# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/

# Python Cache
.pytest_cache/
.mypy_cache/

# Distribution
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db